body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content:space-around ;
    padding: 10px;   
}

#ola {
    height: 25vh;
    width: 100vw;
    background-color: rgb(101, 114, 75);
    display:  flex;
    align-items: center;
    justify-content: space-around;
}

