* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Bona Nova SC";
    line-height: 1.6;
    background: #d0d1ff;

}


header {
    background: #011935;
    color: #bbbbbb;
    padding: 10px;
    border-bottom: solid #39ad3f;

}

header h1 {
    margin: 0;
    text-align: center;
}

.navPrincipal {

    height: 50px;

}

.NavGeral {
    padding: 10px;
    text-align: right;
}

.navItem {
    padding: 8px;
    border: solid 2px #817fee;
    border-radius: 30px;
    background-color: #817fee59;
    cursor: pointer;

}

.navItem:hover {
    padding: 10px;
    border: solid 2px #82967a;
    border-radius: 30px;
    background-color: #82967ab9;
    cursor: pointer;

}



nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


main {
    display: flex;
    width: 100%;
}

.buttonComprar {
    padding: 8px;
    border: solid 2px #817fee;
    border-radius: 30px;
    background-color: #817fee59;
    cursor: pointer;

}

.buttonComprar:hover {
    padding: 10px;
    border: solid 2px #82967a;
    border-radius: 30px;
    background-color: #82967ab9;
    cursor: pointer;

}


article ul {
    list-style: none;
    text-align: center;
}

article ul li a {
    text-decoration: none;

}

.produtosListados {
    text-align: center;
    height: 100%;
    padding: 10px;
    padding: 3px;
}

.articleHome {
    width: 30%;
    float: left;
    align-items: center;
    border: solid 2px #000000;
    border-radius: 10px;
    justify-items: space-between;
    /* margin-left: 10px; */
    margin-top: 10px;
}
.tittleProdutos{
    text-align: center;
    color: #000000;
    font-size: 2rem;
    background-color: #a0beda;
    border:ridge 2px #3a3a3a;
    border-radius: 10px;
  
}

.produtosMain {
    background-color: #39ad3f;
}

.produtosListaMain {
    background-color: #817fee;
    border: 2px solid;
    size: 2rem;

}
.notesList{
    display: flex;
    justify-content: space-between;
}
section {
    flex: 2;
   
}

section h2 {
    background: #c0c0c0;
    padding: 10px;
    border-bottom: 2px solid #666666;
}

article {
    background: #dfdfdf;
    margin-bottom: 20px;
    padding: 10px;
}

article img {
    height: 150px;
}

article header h3 {
    margin: 0;
}

article header p {
    font-size: 0.9em;
    color: #555;
}


aside {
    background: #011935;
    color: #bbbbbb;
    border-right: solid 3px #39ad3f;
    text-align: center;
    width: 20%;
    
}

.NavLateralEsq {
    margin-top: 10px;
}

aside h2 {
    margin-top: 10px;
    border-radius: 35px;
    background: #0053b3;
    padding: 10px;
    border-bottom: 2px solid #666666;
    text-align: center;
    color: #fff
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
    padding: 10px;
}

aside ul li a {
    text-decoration: none;
    color: #000000;
    padding: 10px;
    border: solid 2px #817fee;
    border-radius: 30px;
    background-color: #817feeb7;
    cursor: pointer;
}


aside ul li a:hover {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border: solid 2px #82967a;
    border-radius: 30px;
    background-color: #82967ab9;
    cursor: pointer;
}

footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 10px 0;
    margin-top: 20px;
}


footer img {
    height: 30px;
    width: 30px;
}