* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #dad9d9;
    height: 15vh;
}

.container {
    display: flex;
}

aside {
    display: flex;
    flex-direction: column;
    background-color: #b9b9b9;
    min-height: 75vh;
    width: 20vw;
   justify-content: flex-start;
   align-items:center;
}

aside ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}
aside ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

main {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    min-width: 80vw;
    min-height: 75vh;

}

main h2 {
    flex: 1 1 20x;
    margin: 10px;
    padding: 8px;
    text-align: center;
    flex-direction: column;

}

section {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 10px;
}

img {
    height: 150px;
    width: 250px;
}


footer {
    background-color: rgb(192, 192, 192);
    height: 10vh;
}